<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Galerium $galerium
 */
?>
 <style>
 
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 90%;

}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 300px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}
.btn-danger{
  background: red!important;
}

</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Galeria</li>
    <li class="breadcrumb-item active">Agregar</li>
</ol>

    


<!-- Upload  -->
<?= $this->Form->create($galerium, ['type' => 'file','id'=>'file-upload-form','class'=>'uploader']) ?>

  <div class="card">
        <div class="card-header">
            <small>Video</small>
        </div>
        <div class="card-body">
            <div class="row">
               
                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Url del video en Youtube. <br>Ej:<span style="color:red;"> https://www.youtube.com/watch?v=IXdNnw99-Ic</span></p>
                        <?php echo $this->Form->control('url',['label' => false,'id'=>'url','class'=>'form-control']);?>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Miniatura o vista previa</p><br>
                        <img style="width:200px;" id="vista" src="https://img.youtube.com/vi/<?=$galerium->url?>/1.jpg">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Video</p><br>
                        <iframe  id="video" src="https://www.youtube.com/embed/<?=$galerium->url?>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <input id="file-upload" type="file" name="" accept="image/*|video/*" />

  <label for="file-upload" id="file-drag">
  <?php
    if (!empty($galerium->foto)) { ?>
       <img id="file-image" src="http://www.viaallegra.com.py/administrador/<?=$galerium->foto_dir?>/<?=$galerium->foto?>" alt="Preview" class="">
       <div id="start">
    <?php }else{ ?>
        <img id="file-image" src="#" alt="Preview" class="hidden">
        <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
    <?php } ?>
    

      <div>Seleccione o arrastre una imagen aquí</div>
      <div id="notimage" class="hidden">Favor seleccione una imagen </div>
      <span id="file-upload-btn" class="btn btn-primary">Cambiar imagen</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>50</span>%
      </progress>
    </div>
  </label>
  <center>
   <?= $this->Html->link(
      '<i class="icon-close"></i>' . __('Cancelar').'</a>',
       ['controller' => 'Galeria','action' => 'index'],
        ['escape' => false, 'class' => 'btn btn-danger']
     ) ?>
  <button type="submit" class="btn btn-success">
     <i class="icon-plus"></i>&nbsp;Guardar
  </button>
  </center>
  
  <?= $this->Form->end() ?>
<script>
  $('#start').click(function(){
      $('#file-upload').attr('name', 'foto');
  });
  $('#url').on('change', function(){

var newval = '',
    $this = $(this);

if (newval = $this.val().match(/(\?|&)v=([^&#]+)/)) {

    $this.val(newval.pop());

} else if (newval = $this.val().match(/(\.be\/)+([^\/]+)/)) {

    $this.val(newval.pop());

} else if (newval = $this.val().match(/(\embed\/)+([^\/]+)/)) {

    $this.val(newval.pop().replace('?rel=0',''));

}

});

$('#url').blur(function() {
var url = document.getElementById("url").value;
$('#video').attr('src', 'https://www.youtube.com/embed/'+ url);
$('#vista').attr('src', 'https://img.youtube.com/vi/'+ url+'/1.jpg'); 
});
 // File Upload
// 
function ekUpload(){
  function Init() {

    console.log("Upload Initialised");

    var fileSelect    = document.getElementById('file-upload'),
        fileDrag      = document.getElementById('file-drag'),
        submitButton  = document.getElementById('submit-button');

    fileSelect.addEventListener('change', fileSelectHandler, false);

    // Is XHR2 available?
    var xhr = new XMLHttpRequest();
    if (xhr.upload) {
      // File Drop
      fileDrag.addEventListener('dragover', fileDragHover, false);
      fileDrag.addEventListener('dragleave', fileDragHover, false);
      fileDrag.addEventListener('drop', fileSelectHandler, false);
    }
  }

  function fileDragHover(e) {
    var fileDrag = document.getElementById('file-drag');

    e.stopPropagation();
    e.preventDefault();

    fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
  }

  function fileSelectHandler(e) {
    // Fetch FileList object
    var files = e.target.files || e.dataTransfer.files;

    // Cancel event and hover styling
    fileDragHover(e);

    // Process all File objects
    for (var i = 0, f; f = files[i]; i++) {
      parseFile(f);
      uploadFile(f);
    }
  }

  // Output
  function output(msg) {
    // Response
    var m = document.getElementById('messages');
    m.innerHTML = msg;
  }

  function parseFile(file) {

    console.log(file.name);
    output(
      '<strong>' + encodeURI(file.name) + '</strong>'
    );
    
    // var fileType = file.type;
    // console.log(fileType);
    var imageName = file.name;

    var isGood = (/\.(?=gif|jpg|png|webp|jpeg|mp4|mov)/gi).test(imageName);
    if (isGood) {
      document.getElementById('start').classList.add("hidden");
      document.getElementById('response').classList.remove("hidden");
      document.getElementById('notimage').classList.add("hidden");
      // Thumbnail Preview
      document.getElementById('file-image').classList.remove("hidden");
      document.getElementById('file-image').src = URL.createObjectURL(file);
    }
    else {
      document.getElementById('file-image').classList.add("hidden");
      document.getElementById('notimage').classList.remove("hidden");
      document.getElementById('start').classList.remove("hidden");
      document.getElementById('response').classList.add("hidden");
      document.getElementById("file-upload-form").reset();
    }
  }

  function setProgressMaxValue(e) {
    var pBar = document.getElementById('file-progress');

    if (e.lengthComputable) {
      pBar.max = e.total;
    }
  }

  function updateFileProgress(e) {
    var pBar = document.getElementById('file-progress');

    if (e.lengthComputable) {
      pBar.value = e.loaded;
    }
  }
  
  function uploadFile(file) {

    var xhr = new XMLHttpRequest(),
      fileInput = document.getElementById('class-roster-file'),
      pBar = document.getElementById('file-progress'),
      fileSizeLimit = 8048; // In MB
    if (xhr.upload) {
      // Check if file is less than x MB
      if (file.size <= fileSizeLimit * 2024 * 2024) {
        // Progress bar
        pBar.style.display = 'inline';
        xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
        xhr.upload.addEventListener('progress', updateFileProgress, true);

        // File received / failed
        xhr.onreadystatechange = function(e) {
          if (xhr.readyState == 4) {
            // Everything is good!

            // progress.className = (xhr.status == 200 ? "success" : "failure");
            // document.location.reload(true);
          }
        };

        // Start upload
        xhr.open('POST', document.getElementById('file-upload-form').action, true);
        xhr.setRequestHeader('X-File-Name', file.name);
        xhr.setRequestHeader('X-File-Size', file.size);
        xhr.setRequestHeader('Content-Type', 'multipart/form-data');
        xhr.send(file);
      } else {
        output('El tamaño de la imagen no debe ser mayor a (< ' + fileSizeLimit + ' MB).');
      }
    }
  }

  // Check for the various File API support.
  if (window.File && window.FileList && window.FileReader) {
    Init();
  } else {
    document.getElementById('file-drag').style.display = 'none';
  }
}
ekUpload();
  </script>

 
